@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron card card-img" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg);">
    <h1>Contoso University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Contoso University</h2>
        <p>
            Contoso University is a privately-funded university hosting a wide range of degree programs. Many people love the flexibility that Contoso offers.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Why Contoso?</h2>
        <p>
At Contoso, students receive a world-class education. In addition to being top in their fields, the professors here make teaching a high priority. They are willing to give individual time to make sure students fully grasp the material and have chances to be involved in research
        </p>
    </div>
    <div class="col-md-4">
        <h2>Enroll Today</h2>
        <p>
            All instruction, programs, and services at Contoso, including a
            wide variety of extracurricular experiences, make
            their own contribution toward the balanced development
            of the total person. Such a broadly prepared individual will
            not only be capable of meeting personal challenge and
            change but will also bring strength to others in the tasks
            of home and family life, social relationships, civic duty, and
            service to mankind.
        </p>
    </div>
</div>